@model TatliSozluk.MvcCoreWebUI.Models.UserIdViewModel

<li class="nav-item">
    <a class="nav-link text-light" href="@Url.Action("Profile", "Account", new { username = Model.username })">Profil</a>
</li>
