
@{
    ViewData["Title"] = "EmailConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Mailinize Gelen Kodu Giriniz</h4>

<form method="post">
    <br />
    <div class="mb-3">
    <input type="text" name="code" placeholder="Kodu giriniz" />
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Doğrula</button>
    </div>
</form>



