@using HakinSozluk.MvcCoreWebUI.Models;
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["Waiting4Code"] != null)
{
    <div class="alert alert-success">@TempData["Waiting4Code"]</div>
    TempData["Waiting4Code"] = null;
}
<form method="post">
    <div class="mb-3">
        <label for="loginCode" class="form-label">Giriş Kodu</label>
        <input type="number" class="form-control" id="loginCode" name="loginCode" required>
    </div>
    <div class="mb-3">
        <label for="number" class="form-label">Okul No</label>
        <input type="number" class="form-control" id="number" name="number" required>
    </div>

    <button type="submit" class="btn btn-primary">Şifreyi Değiştir</button>

    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
</form>

