@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["TempPassword"] != null)
{
    <div class="alert alert-success">@TempData["TempPassword"]</div>
    TempData["TempPassword"] = null;
}
@if (TempData["Error4Reset"] != null)
{
    <div class="alert alert-danger">@TempData["Error4Reset"]</div>
    TempData["Error4Reset"] = null;
}
